.blog-head h2 {
    margin-bottom: 10px;
    font-weight: 500;
    color: #333333;
    font-style: normal;
}

.blog-head a {
    color: #333333;
    font-weight: 500;
    font-style: normal;
}

.blog-posts {
    gap: 20px;
    overflow: hidden;
}

.blog-post {
    width: 24%; /* To show 4 posts in one row */
}

.blog-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.blog-details {
    padding: 10px 0;
}

.blog-date {
    color: gray;
    margin-bottom: 8px;
}

.blog-title {
    margin: 5px 0;
}

.blog-content {
    color: #666;
    margin: 5px 0;
}

.view-more {
    display: inline-block;
    margin-top: 15px;
}

.view-more:hover {
    text-decoration: underline;
}
